<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tsm -->
      <package
            uri="http://big.tuwien.ac.at/tsm"
            class="at.ac.tuwien.big.tsm.TsmPackage"
            genModel="model/tsm.genmodel"/>
   </extension>

</plugin>
